# Django
SECRET_KEY='django-insecure-key-change-in-production'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=diary_db
DB_USER=diary_user
DB_PASSWORD=diary_password
DB_HOST=db
DB_PORT=5432

# Docker
POSTGRES_DB=diary_db
POSTGRES_USER=diary_user
POSTGRES_PASSWORD=diary_password

# Encryption (сгенерировать командой: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
ENCRYPTION_KEY=ваш-ключ-шифрования